body {
  font-family: 'Lato', Arial, sans-serif;
  margin: 20px;
  background-image: url('./4031900.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

.home-button {
  display: inline-block;
  padding: 5px;
  background-color: #82ecb3; /* Pink color */
  border-radius: 5px;
}

.contact-info {
  text-align: center;
}

